#gameBoard {
    /* background-color:gray; */
    background: url("../assets/background.png");
    border: 2px solid black;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
background-color: black;
background: url("../assets/background2.jpg");
}



